DEBUG=True
SECRET_KEY=django-insecure-fbw%5!ro6g@0_0kh%0uo9a4%i-7895ojg7ky-qyoghjky-i$vo

# simple-ui
SIMPLE_UI=False

# 验证码
CAPTCHA=True

ALLOWED_HOSTS=xxx.com,example.com
CORS_ALLOWED_ORIGINS=xxx.com

# 支付(可选)
V_API_URL=http://xxx.com/
V_KEY=xxx
NOTIFY_URL=xxx



